@model GrooveHub.Areas.Admin.Models.AdminCancionesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*<h1>Administrar Canciones</h1>
<a href="~/Admin/Canciones/Agregar"><img src="~/AdminVistas/add.png" /></a>
<ul>
    @foreach (var c in Model.Canciones)
    {
        <li>
            <section>
                <label>@c.Nombre</label>
                <label>@c.AñoLanzamiento.ToString("yyyy")</label>
                <label>@c.Duracion.ToString("mm\\:ss")</label>
                <a href="~/Admin/Canciones/Editar/@c.Id"><img src="~/AdminVistas/editb.png" /></a>
                <a href="~/Admin/Canciones/Eliminar/@c.Id"><img src="~/AdminVistas/deleteb.png" /></a>
            </section>
        </li>
    }
</ul>*@

<section class="listaC">
    <h1 id="titulo">Administrar Canciones</h1>
    <!-- <a><img src="add.png" /></a> -->
    @if (User.IsInRole("Administrador"))
    {
        <a href="~/Admin/Canciones/Agregar">
            <input id="btnAdd" type="button" value="Agregar Cancion" />
        </a>
    }
    <ul>
        @foreach (var c in Model.Canciones)
        {
            <li>
                <section>
                    <img src="~/canciones/@(c.Id).jpg" alt="" />
                    <label>Titulo: @c.Nombre</label>
                    <label>Album: @c.NombreAlbum</label>
                    <label>Año de lanzamiento: @c.AñoLanzamiento.ToString("yyyy")</label>
                    <label>Duración: @c.Duracion.ToString("mm\\:ss")</label>
                    <div>
                        <a href="~/Admin/Canciones/Editar/@c.Id"><img src="~/AdminVistas/editb.png" /></a>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a href="~/Admin/Canciones/Eliminar/@c.Id"><img src="~/AdminVistas/deleteb.png" /></a>
                        }
                    </div>
                   
                </section>
            </li>
        }
       
       
    </ul>
</section>